<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Become an Admin</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Become a dedicated admin.</h1>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/users/admin-signup" method="POST">
                    <div class="admin-password-text">
                        <h3>Are you ready to take on the responsibility of having the power to delete messages?</h3>
                        <h3>Only those who have been directed by THE ADMIN will know the password.</h3>
                    </div>
                    <div class="form-item">
                        <label for="adminPassword">Password: </label>
                        <input type="password" name="adminPassword" id="adminPassword" required>
                    </div>
                    <button type="submit" class="custom-button">Submit</button>
                </form>
                <a href="/users/user-portal">Cancel</a>
            </div>
        </div>
    </body>
</html>