<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Uh oh!</title>
    </head>
    <body>
        <h2>Error!</h2>
        <p><%= error.message %></p>
        <div><a href="/">Go back</a></div>
    </body>
</html>