<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>MEMBERS ONLY</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Public Area</h1>
                <ul>
                    <li><b>Number of users</b>: <%= userCount %></li>
                    <li><b>Number of members</b>: <%= memberCount %></li>
                    <li><b>Number of messages</b>: <%= messageCount %></li>
                </ul>
                <a href="/users/new">Sign Up</a>
                <a href="/login">Log In</a>
            </div>
        </div>
    </body>
</html>