<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Become a Member</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Become a dignified member.</h1>
                <%- include("partials/errors.ejs") %>
                <form class="input-form" action="/users/member-signup" method="POST">
                    <div class="member-password-puzzle">
                        <p>Unscramble the letters below to reveal the two-word secret phrase. Enter the phrase as all lower-case letters with no spaces.</p>
                        <p>seems a peon</p>
                    </div>
                    <div class="form-item">
                        <label for="memberPassword">Secret Phrase: </label>
                        <input type="text" name="memberPassword" id="memberPassword" required>
                    </div>
                    <button type="submit" class="custom-button">Submit</button>
                </form>
                <a href="/users/user-portal">Cancel</a>
            </div>
        </div>
    </body>
</html>