<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Delete Message</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Are you sure you want to delete this message?</h1>
                <h3>THIS ACTION CANNOT BE UNDONE.</h3>
                <form action="/messages/delete/<%= message_id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
                <a href="/">Cancel</a>
            </div>
        </div>
    </body>
</html>