<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>Authentication Needed</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>You must be logged in to view this page!</h1>
                <h2><a href="/login">Log In</a></h2>
                <p><a href="/">Return Home</a></p>
            </div>
        </div>
    </body>
</html>