<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title>User Portal</title>
    </head>
    <body>
        <div class="container">
            <div class="main-content">
                <h1>Welcome, <%= user.first_name + ' ' + user.last_name %></h1>
                <% if (!user.admin_status && user.member_status) { %>
                    <p>You are a member!</p>
                    <a href="/messages/new" class="custom-button">Write a Message</a>
                    <a href="/users/admin-signup" class="custom-button">Become an Admin</a>
                    <a href="/" class="custom-button">Return Home</a>
                    <a href="/users/end-membership" class="custom-button end-membership-button">End Membership</a>    
                <% } else if (user.admin_status) { %>
                    <div class="admin-description">
                        <p>You have Admin powers.
                        <br>You are able to delete messages. Use this ability wisely.</p>
                    </div>
                    <a href="/messages/new" class="custom-button">Write a Message</a>
                    <a href="/" class="custom-button">Return Home</a>
                    <a href="/users/admin-quit" class="custom-button admin-quit-button">Quit being an admin</a>
                <% } else if (!user.member_status) { %>
                    <p>You aren't a member!</p>
                    <a href="/messages/new" class="custom-button">Write a Message</a>
                    <a href="/users/member-signup" class="custom-button">Become a member</a>
                    <a href="/" class="custom-button">Return Home</a>
                <% } %>
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </body>
</html>